streamlit
psycopg2-binary
json
re
pathlib
datetime
fpdf
tempfile
os
base64
pandas
hashlib
io
zipfile
pickle
google-auth-oauthlib
google-auth-transport-requests
google-api-python-client
